{{#section 'css'}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <style>
    #article_register {
            width: 60%;
        }
    @media all and (max-width: 500px) {
        #article_register {
            width: 100%;
        }
    }
    </style>
  
{{/section}}
{{#section 'js'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        $('#txtDOB').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            mask: true,
        });

        $('#frmRegister').on('submit', function (e) {
            //alert('submit called');
            e.preventDefault();
            // if (validate())
            //   $('#frmRegister').off('submit').submit();
            validate();
        })

        function validateEmail(VAL) {           
            var email = new RegExp('^[a-z0-9](\.?[a-z0-9]){5,}@g(oogle)?mail\.com$');
            return email.test(VAL);
        }

        function scorePassword(pass) {
            var score = 0;
            if (!pass)
                return score;

            // award every unique letter until 5 repetitions
            var letters = new Object();
            for (var i=0; i<pass.length; i++) {
                letters[pass[i]] = (letters[pass[i]] || 0) + 1;
                score += 5.0 / letters[pass[i]];
            }

            // bonus points for mixing it up
            var variations = {
                digits: /\d/.test(pass),
                lower: /[a-z]/.test(pass),
                upper: /[A-Z]/.test(pass),
                nonWords: /\W/.test(pass),
            }

            variationCount = 0;
            for (var check in variations) {
                variationCount += (variations[check] == true) ? 1 : 0;
            }
            score += (variationCount - 1) * 10;

            return parseInt(score);
        }

        function validate(){
            // ... các lệnh validate khác
            const user = $('#username').val();
            const email = $('#email').val();
            const password = $('#password').val();
            const password_cf = $('#password_cf').val();
            const dob = $('#txtDOB').val();
            var formData = new FormData(document.getElementById("frmRegister"));
            var captchaResponse = formData.get("g-recaptcha-response");
            if(user== ""){
                alert('Tên đăng nhập không được rỗng.')
                    return false;
            }
            if(user.length < 8 ){
                alert('Tên đăng nhập phải từ 8 ký tự.')
                return false;
            }
            if(user.length > 25 ){
                alert('Tên đăng nhập tối đa 25 ký tự.')
                return false;
            }
            if(!validateEmail(email)){
                alert('Email không hợp lệ.')
                return false;
            }
            if(password == ""){
                alert('Mật khẩu không được rỗng.');
                return false;
            }
            if(password.length < 8){
                alert('Mật khẩu phải từ 8 ký tự');
                return false;
            }
            if(password.length > 24 ){
                alert('Mật khẩu phải bé hơn 25 ký tự.');
                return false;
            }
            if(scorePassword(password) <=30){
                alert('Mật khẩu yếu.');
                return false;
            }
            if(password_cf == ""){
                alert("Xác nhận mật khẩu rỗng");
                return false;
            }
            if(password_cf != password){
                alert("Xác nhận mật khẩu khác với mật khẩu ở trên.");
                return false;
            }
            if(dob == "__/__/____" || dob ==""){
                alert("Ngày sinh không được rỗng.");
                return false;
            }
            if(captchaResponse == ""){
                alert("Vui lòng xác minh bạn không phải là người máy.");
                return false;
            }
            var temp=""
            $.getJSON(`/account/register/is-available-email?email=${email}`, function (data) {
                temp=data;
                if (data) {
                    alert('Email đăng ký đã tồn tại.');
                    return false;
                }
            })
            $.getJSON(`/account/register/is-available?user=${user}`, function (data) {
                if (data === false) {
                    if(temp === false){
                        $('#frmRegister').off('submit').submit();
                    }
                    return false;

                } else {
                    alert('Tên đăng nhập đã tồn tại.');
                }
            })
            if(captchaResponse != ""){
                $.getJSON(`/account/register/is-available-capcha?capcha=${captchaResponse}`, function (data) {
                    if (data == true) {
                            $('#frmRegister').off('submit').submit();
                        }
                    else {
                        alert("Verifying the user's response error");
                        return false;
                    }
                })
            }

        }
    </script>

{{/section}}

<div class="container" style="margin-top: 50px; margin-bottom:50px">
    <div class="card bg-light cardRes ">
    <article id="article_register" class="card-body mx-auto">
        <h4 class="card-title mt-3 text-center">Đăng ký</h4>
        <p>
            <a href="/account/auth/github" style="background-color: #444444;" class="btn btn-block btn-twitter"> <i class="fab fa-github"></i>  Đăng nhập bằng github</a>
            <a href="/account/auth/google" style="background-color: #dd4b39;" class="btn btn-block btn-google"> <i class="fab fa-google"></i>  Đăng nhập bằng google</a>
        <a href="/account/auth/facebook" class="btn btn-block btn-facebook"> <i class="fab fa-facebook-f"></i> Đăng nhập bằng
            facebook</a>
        </p>
        <p class="divider-text">
            {{#if islogin}}
                <div style="color: red;">Đăng nhập thất bại. Vui lòng thêm trường email vô thông tin cá nhân. Rồi thủ lại</div>
            {{/if}}
            <span class="bg-light">hoặc</span>
        </p>
        <form method="POST"  id="frmRegister"  >
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width:40px"> <i class="fa fa-user"></i> </span>
            </div>
            <input name="username" class="form-control" placeholder="Tên đăng nhập" id="username" type="text">
            <div id="name_error"></div>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width:40px" > <i class="fa fa-envelope"></i> </span>
            </div>
            <input class="form-control" placeholder="Địa chỉ email" id="email" name="email">
            <div id="mail_error"></div>
        </div> <!-- form-group// -->

        <div class="form-group input-group">
            <div class="input-group-prepend w-100">
                <span class="input-group-text" style="width:40px" > <i class="fa fa-calendar"></i> </span>
                <input placeholder="__/__/____" type="text" class="form-control" id="txtDOB" name="dob" required>
            </div>
           
        </div> <!-- form-group end.// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width:40px" > <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" placeholder="Mật khẩu" id="password" name="password" type="password">
            <div id="password_error"></div>
        </div> <!-- form-group// -->
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" style="width:40px" > <i class="fa fa-lock"></i> </span>
            </div>
            <input class="form-control" id="password_cf" placeholder="Xác nhận lại mật khẩu" type="password">
            <div id="password_cf_error"></div>
        </div> <!-- form-group// --> 

        <div style="margin-bottom: 15px;" class="g-recaptcha" data-sitekey="6Leu4q4ZAAAAAHw4bwo0IJQ5Hq_wptDt4qCekMH9"></div>
                                          
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Tạo tài khoản  </button>
        </div> <!-- form-group// -->      
        <p class="text-center">Đã có tài khoản? <a style="font-weight: 700;  text-decoration: none;" href="/account/login">Đăng nhập</a> </p>                                                                 
    </form>
    </article>
    </div> <!-- card.// -->

</div> 
