<div id="content">
    <div class="error-page mt-5">
        <div class="container">
            <div class="col-md-12 col-sm-8 col-xs-8">
                <div class="error_pagenotfound"> <strong>4<span id="animate-arrow">0</span>3 </strong> <br />
                    <b>Trang bị từ chối truy cập!</b> <em>Bạn không có quyền để thực hiện chức năng này!!<em>Bạn cần đăng nhập đúng quyền.</em></p>
                    <br />
                    <a href="/" class="button-back"><i class="fa fa-arrow-circle-left fa-lg"></i>&nbsp; Trở
                        về</a>
                </div>
                <!-- end error page notfound -->

            </div>
        </div>
    </div>
    <!-- Main Container End -->
</div>