<div id="content">
    <div class="about-page mt-5">
        <div class="container mt-5">
            <div class="row">
                 <div class="col-xs-12 col-sm-6 col-md-6">
                <h3>Giấy phép kinh doanh</h3>

            <p>Tổng Biên tập: Lê Trọng Minh</p> 
            
           <p>Thư ký Tòa soạn: Đặng Tuấn Khánh</p>
            
            <p>© Bản quyền thuộc Báo Đầu tư – Cơ quan của Bộ Kế hoạch và Đầu tư.
            
            Giấy phép số 87/GP-BTTTT do Bộ Thông tin và Truyền thông cấp ngày 08/04/2013</p>
                 </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <h3 class="page-subheading">Khách hàng có thể gửi thông tin tại đây</h3>
                    <div class="contact-form-box">
                        <div class="form-selector">
                            <label>Họ tên</label>
                            <input type="text" class="form-control input-sm" id="name" />
                        </div>
                        <div class="form-selector">
                            <label>Email</label>
                            <input type="text" class="form-control input-sm" id="email" />
                        </div>
                        <div class="form-selector">
                            <label>Số điện thoại</label>
                            <input type="text" class="form-control input-sm" id="phone" />
                        </div>
                        <div class="form-selector">
                            <label>Nội dung </label>
                            <textarea class="form-control input-sm" rows="10" id="message"></textarea>
                        </div>
                
                        <div class="form-selector-btn">
                
                            <button type="submit" class="btn btn-primary  "><i class="fa fa-send"></i>
                                Gửi thông tin</button>
                            <button type="button" class="btn btn-danger ml-2 mb-5 mt-5" id="return"
                                onclick="window.location.href='/'"><i class="fa fa-arrow-left" aria-hidden="true"></i>
                                Trở về</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="our-team">

        <div class="container">
            <div class="page-header">
                <h5>ĐỘI NGŨ CỦA CHÚNG TÔI</h5>
                <hr>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="wow bounceInUp" data-wow-delay="0.2s">
                        <div class="team">
                            <div class="inner">
                                <div class="avatar"><img src="img/thong.jpg" alt="" class="img-responsive img-circle" />
                                </div>
                                <div class="info-avatar">
                                    <h5><a target="_blank" href="https://www.facebook.com/vanthongit99/">Nguyễn Văn Thông </a> </h5>
                                    <p class="subtitle">Phóng viên</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="wow bounceInUp" data-wow-delay="0.5s">
                        <div class="team">
                            <div class="inner">
                                <div class="avatar"><img src="img/duy.jpg" alt="" class="img-responsive img-circle" />
                                </div>
                                <div class="info-avatar">
                                    <h5><a target="_blank" href="https://www.facebook.com/tranhoangduy1999">Trần Hoàng Duy</a> </h5>
                                    <p class="subtitle">Tác giả</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="wow bounceInUp" data-wow-delay="0.8s">
                        <div class="team">
                            <div class="inner">
                                <div class="avatar"><img src="img/dam.jpg" alt="" class="img-responsive img-circle" />
                                </div>
                                <div class="info-avatar">
                                    <h5><a target="_blank" href="https://www.facebook.com/boynguyen.nguyen.71">Nguyễn Thanh Đạm</a></h5>
                                    <p class="subtitle">Quản trị viên</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="wow bounceInUp" data-wow-delay="0.8s">
                        <div class="team">
                            <div class="inner">
                                <div class="avatar"><img src="img/canh.jpg" alt="" class="img-responsive img-circle" />
                                </div>
                                <div class="info-avatar">
                                    <h5><a  target="_blank" href="https://www.facebook.com/canhyt97">Nguyễn Quốc Cảnh</a></h5>
                                    <p class="subtitle"> Biên tập viên </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
       
    </div>

    
</div>